.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.babar{
    margin-left: 5%;
}
.navbar-nav{
    margin-right: 15%;
    gap: 6%;
}
.nav-item:hover{
    text-decoration: underline;
}
.nav-items:hover{
    text-decoration: underline darkolivegreen;
}
.rabel:hover{
    text-decoration: underline darkolivegreen;
}
.fawad:hover{
    text-decoration: underline darkolivegreen;
}
.navbar-nav:hover{
    font-style: italic;
}

 h1,
h2, 
h3, 
h4,
h5, 
h6 {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-style: italic;
    color: #121518;
}

a {
    color: #454545;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #aa9166;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background: #ffffff;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #aa9166;
    color: #121518;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top:hover {
    color: #aa9166;
    background: #121518;
}

.back-to-top i {
    padding-top: 10px;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 90px;
    background: #000000;
}

.top-bar .logo {
    padding: 15px 0;
    text-align: left;
    overflow: hidden;
}

.top-bar .logo h1 {
    margin: 0;
    color: #aa9166;
    font-size: 75px;
    line-height: 55px;
    font-weight: 800;
}

.top-bar .logo img {
    max-width: 100%;
    max-height: 60px;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90px;
    padding: 0 20px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text h2 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    margin: 0;
}

.top-bar .text p {
    color: #ffffff;
    font-size: 13px;
    margin: 0;
}

.top-bar .social {
    display: flex;
    height: 90px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    font-size: 22px;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:hover {
    color: #aa9166;
    background: #ffffff;
}


    .top-bar {
        padding: 0 60px;
    }



    .top-bar .logo {
        text-align: center;
    }
    
    .top-bar .social {
        display: none;
    }


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
    position: relative;
    padding: 20px 0;
    transition: .3s;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    height: 100%;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #aa9166;
    transition: none;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.nav-bar .btn {
    color: #ffffff;
    border: 2px solid #aa9166;
    border-radius: 0;
}

.nav-bar .btn:hover {
    background: #aa9166;
}


    .nav-bar {
        padding: 20px 60px;
    }
    
    .nav-bar.nav-sticky {
        padding: 10px 60px;
    }
    
    .nav-bar,
    .nav-bar .navbar {
        background: #121518 !important;
    }
    
    .nav-bar .navbar-brand {
        display: none;
    }
    
    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }


    .nav-bar,
    .nav-bar .navbar {
        padding: 3px 0;
        background: #121518 !important;
    }
    
    .nav-bar a.nav-link {
        padding: 5px;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    
    .nav-bar .btn {
        display: none;
    }


.bg-slider{
    height: 900px;
    background-image: url(../images/image.1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: changeimage 40s linear infinite;
}
@keyframes changeimage{
    0%{background-image: url(../images/fit.4.jpg);}
    25%{background-image: url(../images/image.2.jpg);}
    50%{background-image: url(../images/boy.3.webp);}
    75%{background-image: url(../images/fit.8.jpg);}
}
.card-container{
margin-left: 8%;
border-radius: 50%;
transition: all 0.3s;
}
.card:hover{
    transform: scale(1.15);
}
.mar:hover{
    border: 5px solid brown;
}
.sufyan{
    font-style: oblique;
}
.image-container{
    margin-top: 10%;
    position: absolute;
    left: 0%;
}
.rehan{
    border: 3px solid brown;
}
.khalid{
    border: 3px solid brown;
}
.maha{
    border: 3px solid brown;
}
.jibran{
    border: 3px solid brown;
}
.faizan{
    border: 3px solid brown;
}
.jawad{
    border: 3px solid brown;
}
footer{
    margin-top: 50%;
    background-color: black;
    padding: 5%;
    border: 3px solid brown;
}
.lol{
    display: flex;
    margin: 4%;
    gap: 5%;
}
.lar{
    display: flex;
    margin: 4%;
    gap: 5%;
}
